<% include ./partials/header %>
    <div class="ui main text container">
        <div class="ui huge header">
            <%= blog.title%>
        </div>
        <div class="ui top attached segment">
            <div class="item">
                <img class="ui centered round image" src="<%=blog.image %>"></img>
                <div class="content">
                    <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                        <button class="ui red right floated button">Delete</button>
                    </form>
                    <a class="ui primary right floated button" href="/blogs/<%=blog._id%>/edit">Edit</a>
                </div>
                <div class="content">
                    <span><%=blog.created.toDateString()%></span>
                </div>
                <div class="description">
                    <p><%- blog.body%></p>
                </div>
                
            </div>
        </div>
    </div>
<% include ./partials/footer %>
